<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Feedbackio</title>


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/nav' %>

<!-- Main jumbotron for a primary marketing message or call to action -->
<%= yield :jumbotron %>

  <div class="container" id="site-content">
    <% if notice %>
      <p class="alert alert-success" role="alert"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger" role="alert"><%= alert %></p>
    <% end %>

    <%= yield %>

    <hr>
    <footer>
      <p>&copy; Company 2015</p>
    </footer>
  </div> <!-- /container -->
</body>
</html>
